{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title%}
Payments Page
{% endblock title%}
{% block content%}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header" style="padding : 20px">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Payments</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Payments</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->




  <!--/modal-->
    <!-- Main content -->
    <section class="content">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Payment Records</h3>
          </div>
          <!-- /.card-header -->
          <div id="msgdiv"> </div>


          <div class="card-body">
            <table id="pinvoiceTable" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Sr.</th>
                  <th>Total Received Amounts</th>
                  <th>Total Paid Amounts (Exp)</th>
                  <th>Pending Receivable</th>
                

                </tr>
                </thead>
                <tbody id="tblbody">


                </tbody>
                <tfoot>
                <tr>
                    <tr>
                      <th>Sr.</th>
                      <th>Total Received Amounts</th>
                      <th>Total Paid Amounts (Exp)</th>
                      <th>Pending Receivable</th>
                    
                      </tr>
                </tr>
                </tfoot>
              </table>


          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <!-- /.content -->
</div>

<script>


    function viewpoint(){
        $.ajax({
                type : "GET" ,
                url :  '/allpaymentsdata/',
               // data : {id:'{{id}}'},


                success: function(response){

                   // console.log(response.daata)
                  //$("#pinvoiceTable tbody").empty()

                      //console.log(item.Truck)
                      pendingReceivable=response.pendingReceivable.payment_amount__sum

											totalReceived=response.totalReceived.payment_amount__sum
											pendingPayable=response.pendingPayable.payment_amount__sum
											totalPaid=response.totalPaid

                      $("#pinvoiceTable tbody").append(`<tr><td>1.</td>
                        <td id="locid">${totalReceived} AED</td>
                        <td>${totalPaid } AED</td>
                        <td >${pendingReceivable} AED</td>
                      

                    </tr>`)

                        /*$("#td1").append(item.user.first_name)
                        //$("#td").html(item.user.first_name)
                        $("#td2").append(item.location)
                        $("#td3").append(item.contact)
                        $("#td4").append(item.tripCharges)
                        $("#td5").append(item.Vat)  */

                }

              });
          }
     $(document).ready(function(){


           viewpoint();

           //=========================================================================

     });



   // });
    </script>


{% endblock content%}